# ===============================================
# SPRING BOOT APPLICATION CONFIGURATION
# ===============================================
server:
  port: 8080
# ===============================================
# SPRING BOOT APPLICATION CONFIGURATION
# ===============================================
spring:
  application:
    name: oms #

  # ===============================================
  # DATABASE (MySQL) CONFIGURATION
  # ===============================================
  datasource:
    url: jdbc:mysql://localhost:3306/oms?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: armada
    password: armada
    driver-class-name: com.mysql.cj.jdbc.Driver

  # ===============================================
  # JPA & HIBERNATE CONFIGURATION
  # ===============================================
  jpa:
    hibernate:
      # create: 기존 테이블 삭제 후 다시 생성 (테스트용)
      # update: 변경된 부분만 반영 (개발용)
      # none: 아무것도 하지 않음 (운영 환경 추천)
      ddl-auto: none
    # 실행되는 SQL 쿼리를 콘솔에 보여줌
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 100
    open-in-view: false

  # ===============================================
  # Redis (Cache / Waiting Room)
  # - docker-compose.yml의 redis-cache 서비스와 연동
  # ===============================================
  data:
    redis:
      host: localhost
      port: 6379
      password: 1111

  # ===============================================
  # SPRING CACHE CONFIGURATION
  # ===============================================
  cache:
    type: redis # Spring Cache의 기본 저장소를 Redis로 설정
    redis:
      time-to-live: 600000 # 10분 (10 * 60 * 1000)
      cache-null-values: false # null 값 캐시 안함

  # ===============================================
  # KAFKA
  # ===============================================
  kafka:
    bootstrap-servers: localhost:9092 # Docker에서 실행 중인 Kafka 주소
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      group-id: "oms-order-group" # 컨슈머 그룹 ID
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "event.oms.application.port.in.order"
      auto-offset-reset: earliest # 처음 실행 시 이전 메시지부터 읽기
# ===============================================
# Feign Client Configuration
# ===============================================
# Feign 클라이언트 인터페이스가 위치한 패키지 경로 (선택적이지만 명시하면 좋음)
# feign.client.config.default.loggerLevel: full # 요청/응답 로그 상세 보기 (디버깅 시 유용)

# --- 외부 서비스 URL ---
external-api:
  payment:
    toss: http://localhost:3000 # Mockoon 결제 API Mock 서버 주소
  shipping:
    url: http://localhost:3000 # Mockoon 배송 API Mock 서버 주소

toss:
  payments:
    secret-key: test_sk_449743785043904390

# ===============================================
# LOGGING CONFIGURATION
# ===============================================
logging:
  level:
    # event.oms 패키지 하위의 모든 로그를 DEBUG 레벨로 설정
    event.oms: DEBUG
    # Spring 프레임워크 자체 로그를 INFO 레벨로 설정
    org.springframework: INFO
    # Hibernate가 바인딩하는 파라미터 값까지 설정
    org.hibernate.orm.jdbc.bind: TRACE

# ===============================================
# JWT (JSON Web Token) CONFIGURATION
# ===============================================
jwt:
  secret: "e797405a6215dd7429420de078b350e198c5031cd3625d6ffce6bf63f0bc4089"
  # 1. Access Token 만료 시간 (예: 30분)
  access-expiration-ms: 1800000
  # 2. Refresh Token 만료 시간 (예: 7일)
  refresh-expiration-ms: 604800000

# ===============================================
# Springdoc (Swagger UI) 설정
# ===============================================
springdoc:
  swagger-ui:
    # 이 설정을 true로 하면 Authorize 버튼의 토큰 값이
    # 브라우저 localStorage에 저장되어 그룹을 변경해도 유지됩니다.
    persist-authorization: true

# ===============================================
# PROMOTION
# ===============================================
promotion:
  order-topic: "order-request-v1" # 주문 요청을 보낼 토픽 이름
  dlq-topic: "order-request-dlq-v1"
  max-active-users: 1000 # 가상 대기열 동시 처리 수